html {box-sizing: border-box;}
body {margin: 0;
      /* padding-left: 230px;
      padding-right: 230px;
      padding-bottom: 239px; */
      width: 2053px;
      font-size: 20px;
      font-family: Gilam;
      color: #FFFFFF;
}
a {text-decoration: none;}
h3 {
    font-size: 50px;
}
.logo {
    height: 33px;
    padding-top: 46px;
}
.Telefon{
    /* padding-left: 1270px; */
}
.button{
    padding-left: 39px;
   
}
.kontakt{
    display: flex;justify-content:end;
    /* grid-template-columns: 163px, 218px;
    grid-template-rows: repeat(29px, auto); */
}
.section-content{
padding-top: 680px;
}
.background{
    background-image: url(./header-bg.jpeg);
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 1000px;
    padding-left: 230px;
    padding-right: 230px;
      /* background-size: 100%; */
}

} */
.elements{
/* background-image: url(./header-bg.jpeg); */
box-sizing: border-box;
text-align: center;
/* background-color: #0A0909; */
/* vertical-align: middle; */

} 
.wrapper {
display: grid;
background-color: #0A0909;
/* font-family: Gilam; */
/* font-size: 20px; */
grid-template-columns: repeat(6, 243px);
grid-template-rows: repeat(2,minmax(468px, auto));
grid-auto-rows: minmax(468px, auto);
grid-template-areas: 
"item1 item1 item2 item2 item3 item3"
"item4 item4 item4 item5 item5 item5";
gap: 27px;
/* vertical-align: middle; */
padding-left: 230px;
padding-right: 230px;
}
.item {
display: flex;
align-items: center;
justify-content: center;
border: 2px solid;
/* color: #FFFFFF; */
}
.wrapper .item_one{
grid-area: item1;
background-color: #634F2C;
/* margin-top: -27px; */
}
.wrapper .item_two{
grid-area: item2;
background-color: #B4A385;
/* margin-top: -27px; */
}
.wrapper .item_three{
grid-area: item3;
background-color: #E4B564;
/* margin-top: -27px; */
}
.wrapper .item_four{
grid-area: item4;
background-color: #635A4A;
}
.wrapper .item_five{
grid-area: item5;
background-color: #B08C4D;
}
.technical-park{
    display:grid;
    grid-template-columns: repeat(3, 513px);
    grid-template-rows: repeat(10, 90px);
    grid-auto-rows: minmax(90px, auto);
    /* border: 2px solid; */
    grid-template-areas: 
    "model1 model2 model3"
    "model1 model2 model3"
    "model1 model2 model3"
    "model1 model2 model6"
    "model4 model2 model6"
    "model4 model5 model6"
    "model4 model5 model6"
    "model4 model5 model7"
    "model4 model5 model7"
    "model4 model5 model7";
    gap: 27px;
    /* font-size: 20px; */
    padding-left: 230px;
    padding-right: 230px;
    background-color: #0A0909;
}
.park {
    background-image: url(./parallax-bg.jpeg);
    background-attachment: fixed;
    background-size: contain;
    height: 1000px;
    padding-left: 230px;
      padding-right: 230px;
      padding-top: 700px;
      /* justify-content: end; */
}
.name{
    padding-top: 900px;
}
/* .technical-park{

} */
.model{
border: 2px solid;  
display: flex;
justify-content: center;
align-items: center;
/* color: #FFFFFF; */
}
.element1{
grid-area: model1;
background-color: #0E0E0E;
}
.element2{
    grid-area: model2;
    background-color: #242424;
}
.element3{
    grid-area: model3;
    background-color: #1F1F1F;
}
.element4{
    grid-area: model4;
    background-color: #1F1F1F;
}
.element5{
    grid-area: model5;
    background-color: #E4B564;
}
.element6{
    grid-area: model6;
    background-color: #0E0E0E;
}
.element7{
    grid-area: model7;
    background-color: #0A0909;
}
.clients{
    display: grid;
    grid-template-columns: repeat(3, 531px);
    grid-template-rows: repeat(2, 391px);
    grid-auto-rows: minmax(391px, auto);
    padding-left: 230px;
    padding-right: 230px;
    background-color: #0A0909;
}
.project {
    background-image: url(./header-bg.jpeg);
    background-attachment:fixed;
    background-size: cover;
    height: 1000px;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 70px;
}

.brend{
    border: 2px solid;
    /* color: #FFFFFF; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.brend1{
background-color: #634F2C;
}
.brend2{
flex-wrap: wrap;
background-color: #E8D2AB;
text-align: center;
/* vertical-align:bottom; */
}
.brend3{
background-color: #E4B564;
}
.brend4{
background-color: #635A4A;
}
.brend5{
background-color: #B08C4D;
}
.brend6{
background-color: #634F2C;
}